.dashboard-container {
    padding: 1.0em;
    background: #FFFFFF;

    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.8em;
}