.data {
    background: lightgrey;
  }

 #dataArea1, #dataArea2 {
    padding: 1em;
    border: 1px solid lightgrey;
  }

  .top-button {
    margin-bottom: 0.7em;
    display: flex;
    justify-content: center;
  }

 p {
    margin-top: 1em;
  }
