main.locations-container {
    padding: 1.0em;
    background: #FFFFFF;
    
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8em;
    align-items: start;
    justify-items: start;
}

main.locations-container h4 {
    background: #CCCCCC;
    color: var(--accent1-color);
    border-bottom: 2px solid var(--accent1-color);
    margin-bottom: 0.6em;
    text-align: center;
}

section.location-view, section.location-details {
    border: 2px solid var(--accent1-color);
}


/* Location List */
main.locations-container section.location-list {
    grid-row: 1 / span 2;
    grid-column: 1;

    width: 100%;
}


/* Location View */
main.locations-container section.location-view {
    grid-row: 1;
    grid-column: 2;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

main.locations-container section.location-view img {
    width: 250px;
    align-self: center;
}

main.locations-container section.location-view p {
    text-align: center;
}


/* Location Details */
main.locations-container section.location-details {
    grid-row: 2;
    grid-column: 2;

    width: 100%;
}

main.locations-container section.location-details ul.location-detail {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: flex-start;
    list-style: none;
}

main.locations-container section.location-details ul.location-detail li {
    padding: 0.4em 0;
}

main.locations-container section.location-details ul.location-detail li:nth-child(1) {
    font-weight: bold;
    padding-right: 0.6em;
}