main.users-container {
    padding: 1.0em;
    background: #FFFFFF;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8em;
    align-items: start;
    justify-items: start;
}

main.users-container h4 {
    background: #CCCCCC;
    color: var(--accent1-color);
    border-bottom: 2px solid var(--accent1-color);
    margin-bottom: 0.6em;
    text-align: center;
}

main.users-container section.users-list-area,
main.users-container section.user-details {
    border: 2px solid var(--accent1-color);
}


/* User list */
main.users-container section.users-list-area {
    grid-row: 1 / span 2;
    grid-column: 1;

    width: 100%;
}


/* User Details */
main.users-container section.user-details {
    grid-row: 1;
    grid-column: 2;

    width: 100%;
}

main.users-container section.user-details ul.user-detail {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: flex-start;
    list-style: none;
}

main.users-container section.user-details ul.user-detail li {
    padding: 0.4em 0;
}

main.users-container section.user-details ul.user-detail li:nth-child(1) {
    font-weight: bold;
    padding-right: 0.6em;
}