/**** VARIABLES (Color Palette) ****/
:root {
  --primary-color: #0B3C5D;
  --secondary-color: #328CC1;
  --tertiary-color: #D9B310;
  --accent1-color: #1D2731;
  /* --accent2-color: #000000; */
}


/***** HTML & Body *****/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

HTML {
  min-height: 100%;
}

body {
  height: 100%;
  background-image: url(../img/background.jpg);
  background-color: #FFFFFF;
  background-blend-mode: multiply;
  background-size: cover;
  border: 0;
  margin: 0;
  padding: 0;
}

/***** Atomic Elements *****/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: var(--primary-color);
}

h1 {
  font-size: 3.375em;
}

h2 {
  font-size: 2.813em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.875em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

p {
  font: 1.0em 'Libre Baskerville', serif;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: var(--quaternary-color);
}


/***** Container *****/
div#container {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


/***** Main *****/
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

section {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/***** Section.Login-Box *****/
section.login-box {
  background: var(--secondary-color);
  border-radius: 18px 0 0 18px;
}

section.login-box h2 {
  color: var(--tertiary-color);
  text-shadow:  1px  1px 1px var(--accent1-color),
               -1px -1px 1px var(--accent1-color),
               -1px  1px 1px var(--accent1-color),
                1px -1px 1px var(--accent1-color);
  text-align: center;
}

section.login-box img#lg-login-icon {
  margin: 1.2em 0 1.0em 0;
}

section.login-box div.login-area {
  background: white;
  border: 1px solid var(--accent1-color);
  padding: 0.3em;
  margin: 1em 0;
  display: flex;
  align-items: center;
}

section.login-box div.login-area img.login-icons {
  width: 16px;
}

section.login-box div.login-area input {
  margin: 0 0 0 0.2em;
  padding: 0.2em 0.3em;
  color: var(--accent1-color);
  background: white;
  border: 0px;
}

section.login-box p {
  padding: 0.4em 0;
  font-weight: bolder;
}

section.login-box input.button {
  background: var(--tertiary-color);
  color: var(--primary-color);
  border: 1px solid var(--accent1-color);
  border-radius: 18px;
  padding: 0.6em 2.0em;
  font-weight: bold;
  margin-top: 1.0em;
}

/***** Section.Title-Box *****/
section.title-box {
  /* background: var(--primary-color); */
  background: #0B3C5DF0;
}

section.title-box h3 {
  color: white;
  text-align: center;
}

section.title-box svg {
  fill: white;
}